h1{
    font-family: 'Permanent Marker', cursive;
    color: red;
    font-size:100px;
    text-shadow: 5px 5px 3px  black;
    word-spacing: -20px;

}
.Gauche {
    width:20%;
    float:left;
}

.Droite {
    width:70%;
    float:Right;
}
